*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

nav{
    position: static;
}

main{
    margin-top: 120px;
}

.container-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(255, 105, 0);
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.container-gender{
    display: inline-block;
    font-weight: bold;
}

.container-logo{
    display: flex;
    height: 30px;
}

.container-gender >* {
    text-decoration: none;
    color: white;
}

.container-icon-nav >*{
    color: white;
}

.container-main{
    width: 920px;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.container-card{
    flex-basis: 30%;
}

.font-brand{
    font-size: .9rem;
}

.font-model{
    font-weight: bold;
}

.discounted-price{
    font-size: .9rem;
    color: red;
}

.old-price{
    font-size: .9rem;
    text-decoration: line-through;
}

.card{
    position: static;
}

.sales{
    position: absolute;
    bottom: 30px;
}

.sales :first-child{
    background-color: red;
    color: white;
    padding: 1px 5px;
    font-size: 0.8rem;
    text-align: center;
}

.sales :last-child{
    background-color: green;
    color: white;
    padding: 1px 5px;
    font-size: 0.8rem;
    text-align: center;
}
